/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilizar a TAG Body */
body{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
}

.content-header{
    width: 100%;
    height: 33%;
    background-color:crimson;

    display: flex;
    /* alinhar na vertical */
    align-items: center;
    /* alinhar na horizontal */
    justify-content: center;
}

/* ESTILIZAR UM ELEMENTO ATRAVES DA CLASSE */

.banner-header {
    width: 90%;
    height: 75%;
    background-color:aliceblue;
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px;
    border-style: solid;
}

.hero-content--center{
    width: 50%;
    height: 100%;
    text-align: center;
    
}