/* Reset CSS */
*{
    margin: 50;
    padding: 0;
    box-sizing: border-box;
}

.main-conteiner{
    display: flex;
}

h1{
    font-family: Arial;
    font-size: 70px;
    margin: 30px;
}

h2{
    font-family: arial;
    font-size: 30px;
    color: rgb(0, 174, 255);
    margin: 20px;

}